*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font-family: 'Edu NSW ACT Foundation', cursive;
font-family: 'Rajdhani', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Sono', sans-serif; */
body{
    color: #FFF;
    background-color: #243131;
    /* font-family: 'Roboto Mono', monospace,'Sono', sans-serif ; */
}
#hero{
    padding-top: 40px;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8em;

}
nav{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.navContent{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.logo h2{
    /* font-family: 'Great Vibes', cursive; */
    font-family: 'Sacramento', cursive;
    font-size: 40px;
}
.links{
 display: flex;
 gap: 2em;
}
.links li{
    list-style: none;  
    
}
.links li a{
    color: rgb(15, 116, 116);
    font-size: 25px;
}
.links li a:hover{
    color:rgb(24, 201, 201);
}
.heroContent{
    /* border: 2px solid; */
display: flex;
width: 100%;
height: 100%;
justify-content: space-between;
/* background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url(./images/sh2..png); */
background-image: url(./images/sh2..png);
background-position-x: 80%;
background-size: contain;
background-repeat: no-repeat; 
}
.heroText{
    /* border: 2px solid; */
    width:40% ; 
    /* padding-top: ; */
    height: 100%;
    margin-left: 15%;
    display: flex;
    flex-direction: column;
    font-weight: light;
    justify-content: center;
  
    gap: 1em;

}
.heroText h1{
    font-size: 40px;
      font-family: 'Dancing Script';
}
.heroText .pText{
    width: 60%;
    /* padding-top: 2em; */
    /* padding-bottom: 4em; */
    font-size: 20px;
    font-family: 'Dancing Script';
}
.heroText a{
    text-decoration: none;
    color: #fff;
    background-color: #489797;
    padding: 13px 20px;
    border-radius: 10px;
    font-weight: bold;
    width: fit-content;
    box-shadow: 5px 5px #fff;
    font-family: 'Dancing Script';
 
}
.heroText a:hover{
    background-color: #fff;
    color: #489797;
    box-shadow: 8px 6px #489797;
}
.heroImage{
    /* width: 30%;
    height: 100%;
    margin-right: 15%;
    background-image: url(./images/sh2..png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; */
 
}

/* MOBILE PHONE  HERO SECTIOMN */
@media only screen and (max-width:600px){
    #hero{
        padding-top: 20px;
        /* height: 100vh; */
        height: fit-content;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1em;
        justify-content: center;
        align-items: center;
    }
    nav{
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center; 
    }
    .navContent{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;

           flex-direction: column;
           gap: 1em;
    }
    .logo h2{
        font-size: 30px;
    
    }
    .links{
     display: flex;
     gap: 2em;
    }
    .links li{
        list-style: none;  
        
    }
    .links li a{ 
        font-size: 25px;
    }
    .heroContent{
      
    margin-top: 0em;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    /* height: 600px; */
    min-height: 80vh;
    height: fit-content;
    /* justify-content: center; */
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url(./images/sh2..png);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    
    }
    .heroText{
        width:100% ; 
        padding:0 5% ;
        margin-bottom: 2em;
        height: 100%;
        /* height: fit-content; */
        margin-left: 0%;
        display: flex;
        flex-direction: column;
        font-weight: light;
        justify-content: flex-end;
        align-items: center;
        text-align: center;
        gap: 0em;
    
    }
    .heroText h1{
        font-size: 35px;
    }
    .heroText .pText{
        width: 100%;
        padding-top: 10px;
        padding-bottom: 2em;
        font-size: 20px;
    }
    .heroText a{
        text-decoration: none;
        color: #fff;
        background-color: #489797;
        padding: 13px 20px;
        border-radius: 10px;
        font-weight: bold;
        width: fit-content;
        box-shadow: 5px 5px #fff;
        /* margin-top: 0em; */
     
    }
    .heroImage{
      
     
    }
 
 
}

#skills{
    /* border: 2px solid red; */
    border-top: 10px solid #489797;
    border-bottom: 10px solid #489797;
 border-bottom-left-radius: 40px;
 border-bottom-right-radius: 40px;
 border-top-left-radius: 40px;
 border-top-right-radius: 40px;
    height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
  
}
.skillsContent{
    display: flex;
    height: 10vh;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    /* font-family: 'Dancing Script', cursive; */
}
.skillsContent .experience{
    font-size: 14px;
}
.experience{
    border-bottom: 5px solid #489797;
    border-bottom-right-radius: 10px;
}





@media only screen and (max-width:930px){
    #skills{
        border-top: 10px solid #489797;
        border-bottom: 10px solid #489797;
     border-bottom-left-radius: 40px;
     border-bottom-right-radius: 40px;
     border-top-left-radius: 40px;
     border-top-right-radius: 40px;
        margin-top: 2em;
        height: fit-content;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1em;
        padding-top: 2em;
      
    }
    .skillsContent{
        display: flex;
        height: fit-content;
        width: 80%;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 3em;
        text-align: center;
        align-items: center;
        padding-bottom: 2em;
    }
    .skillsContent .experience{
        font-size: 15px;
    }
    .skillsContent h3{
        font-size: 25px;
    }
    .experience{
        border-bottom: 7px solid #489797;
        border-bottom-right-radius: 10px;
    }
}
#projects{
    width: 100%;
    /* height: 180vh; */
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4em 0;
}
.projectContent{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;
}

.projectContent .intro{
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    padding-bottom: 1em;
}
.intro a{
   text-decoration: none;
   color: #fff;
   font-size: 10px;
   background-color: #489797;
   padding: 10px 20px;
   border-radius: 10px;
   box-shadow: 2px 2px #fff;
font-family: 'Roboto Mono', monospace,'Sono', sans-serif ;



}
.intro a:hover{
    background-color: #fff;
    color: #489797;
    box-shadow: 8px 6px #489797;
    /* transform: rotate(5deg); */
}
.previousProjects{
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
  

}
.projectSample{
    width: 48%;
    height: 350px;
    display: flex;
    flex-direction: column;
    gap: .5em;

}
.projectSample .image{
      width: 100%;
    height: 80%;
}
.projectSample1 .image{
    background: url(./images/desktop-preview.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.text{
    display: flex;
    flex-direction: column;
    gap: .5em;

}
.frameWork{
    display: flex;
    gap: 1em;
    align-items: center;
}
.text a{
  text-decoration: none;
  color: #fff;
  background-color:  #489797;
  padding: 5px 15px;
  border-radius: 10px;
  box-shadow: 2px 2px #fff;
  width: fit-content;
  font-family: 'Roboto Mono', monospace,'Sono', sans-serif ;

}
.text a:hover{
    background-color: #fff;
color: #489797;
box-shadow: 5px 6px #489797;
}

.projectSample2 .image{
    background: url(./images/desktop-preview\ \(2\).jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.projectSample3 .image{
    background: url(./images/desktop-preview\ \(3\).jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.projectSample4 .image{
    background: url(./images/desktop-preview\ \(4\).jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.projectSample5 .image{
    background: url(./images/desktop-preview\ \(5\).jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.projectSample6 .image{
    background: url(./images/desktop-preview\ \(6\).jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.projectSample7 .image{
    background: url(./images/rps2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
.projectSample8 .image{
    background: url(./images/rps1.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
}

@media only screen and (max-width:930px){
    #projects{
        padding-top: 4em;
          width: 100%;
          /* height: 328vh; */
          height: fit-content;
          display: flex;
          justify-content: center;
      }
      .projectContent{
          width: 80%;
          height: 100%;
          /* height: fit-content; */
          display: flex;
          flex-direction: column;
          gap: 1em;
          padding-bottom: 0;
      }
      
      .projectContent .intro{
          display: flex;
          justify-content: space-between;
          height: 40px;
          align-items: center;
      }
      .intro a{
         text-decoration: none;
         color: #fff;
         font-size: 10px;
         background-color: #489797;
         padding: 10px 20px;
         border-radius: 10px;
         box-shadow: 2px 2px #fff;
      }
      .intro a:hover{
          background-color: #fff;
          color: #489797;
          box-shadow: 8px 6px #489797;      
      }
      .previousProjects{
          display: flex;
          flex-direction: column;
          width: 100%;
          height: fit-content;
          justify-content: space-between;  
            
      }
      .projectSample{
          width: 100%;
          height: 350px;
          display: flex;
          flex-direction: column;
          gap: .8em;
          margin-bottom: 2em;       
      }
      .projectSample .image{
            width: 100%;
          height: 80%;
         
      }
      .projectSample1 .image{
          background: url(./images/desktop-preview.jpg);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
      }
      .text{
          display: flex;
          flex-direction: column;
          gap: .5em;
      
      }
      .frameWork{
          display: flex;
          gap: 1em;
      
      }
      .projectSample2 .image{
          background: url(./images/desktop-preview\ \(2\).jpg);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
         
      }
      .projectSample3 .image{
          background: url(./images/desktop-preview\ \(3\).jpg);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
      
      }
      .projectSample4 .image{
          background: url(./images/desktop-preview\ \(4\).jpg);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
       
      }
      .projectSample5 .image{
          background: url(./images/desktop-preview\ \(5\).jpg);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
      }
      .projectSample6 .image{
          background: url(./images/desktop-preview\ \(6\).jpg);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
      }
}




#footer{
    /* font-family: 'Roboto Mono', monospace,'Sono', sans-serif ; */
    font-family: 'Dancing Script', cursive;
width: 100%;
/* height: 80vh; */
height: fit-content;
background-color: #141414;
display: flex;
justify-content: center;
align-items: center;
}
.footerContent{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 5% 0;
}
.top{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;

}
.topLeft{
    width: 30%;
    height: ;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    justify-content: center;

}
.topLeft h1{
  font-size: 40px;
}
.topLeft p{
    font-size: 15px;
}
.topRight{
    width: 40%;
    height: ;
}
form{
/* background-color: rgb(13, 77, 77); */
background-color: #fff;
color: black;
padding: 2em 3em;
display: flex;
flex-direction: column;
border-radius: 10px;
}
.name, .email, .doc, .message{
padding: 10px 0;
}
form input{
    padding: 8px;
    width: 100%;
}
.bottom{
      border-top: 2px solid #489797;
      padding-top: 1.5em;
      margin-top: 4em;

}
.bottomContent{
    /* border: 2px solid rgb(221, 129, 24); */
    display: flex;
    justify-content: space-between;
}
.logo{

}
.footerLinks{

}
.footerLinks .links{
    display: flex;
gap: 1.5em;
    
}

@media only screen and (max-width:930px){
    #footer{
  
        width: 100%;
        /* height: 100vh; */
        height: fit-content;
        background-color: #141414;
        display: flex;
        justify-content: center;
        align-items: center; */
        justify-content: center;
        }
        .footerContent{
            width: 90%;
            height: 100%;
            background-color: #141414;
            display: flex;
            flex-direction: column;
        }
        .top{
            width: 100%;
            height: fit-content;
            display: flex;
            justify-content: space-between;
        

            flex-direction: column;
            gap: 3em;
        }
        .topLeft{
            width: 100%;
            height: ;
            display: flex;
            flex-direction: column;
            gap: 1.5em;
            justify-content: center;
            text-align: center;
            align-items: center;
        
        }
        .topLeft h1{
          font-size: 30px;
        }
        .topLeft p{
            font-size: 15px;
        }
        .topRight{
            /* border: 2px solid rgb(186, 226, 6); */
            width: 100%;
            height: ;
        }
        form{
        /* background-color: rgb(15, 116, 116); */
        /* border: 1px solid rgb(15, 116, 116); */
        background-color: #fff;
        color: black;
        padding: 2em 3em;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        }
        .name, .email, .message{
        padding: 10px 0;
    
        }
        form input{
            padding: 8px;
            width: 100%;
        }
        .bottom{
              /* border: 2px solid rgb(186, 226, 6); */
              border-top: 2px solid rgb(24, 201, 201);
              padding-top: 1.5em;
              margin-top: 3em;
        
        }
        .bottomContent{
            flex-direction: column;
            justify-content: center;
            width: 100%;
            align-items: center;
            gap: 1em;
        }
        
        .footerLinks .links{
            display: flex;
        gap: 2em;
        }

        .footerLinks .links a{
           font-size: 25px;
        }
}